@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --text-colors: #18F65F;
    --menu-colors: #18F65F;
    --h1-colors: #A4E8C0;
    --h2-colors: white;
    --card-border-colors: #18F65F;
    --card-colors: #3D4752;
    --section-colors: #404040;
    --container-colors: 404040;

    /* background Images */
    --bck-layout: url("../img/bck-layout.png");
    --bck-container: url("../img/bckheader.png");
    --bck-buttons: url("../img/bck-buttons.png");
    --bck-footer: url("../img/bck-footer.png");

    /*Buttons*/
    --buttons-colors: #8AC0A4;
    --buttons-text-colors: #1E2833;



    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover {
    color: var(--text-colors);
}

h1 {
    color: var(--h1-colors);
}

h2 {
    color: var(--h2-colors);
}

button,
input {
    display: inline-block;
    width: 250px;
    height: 45px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    border-radius: 0.50rem;
    color: var(--buttons-text-colors);
    background-color: var(--buttons-colors);
    background-image: var(--bck-buttons);
    border-color: var(--buttons-colors);

}

input {
    background-image: var(--bck-layout);
    cursor: default;
    margin-left: 10px;
    color: var(--buttons-colors);
    font-size: 2.2rem;

}

p {
    color: white;
}

body {
    font-family: var(--font-roboto);
    color: white;
    background-color: #000000;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 1600px;
    background-image: var(--bck-layout);
    max-width: 1900px;
    min-width: 320px;
}

/* HEADER */
header {
    display: flex;
    width: 100%;
    height: 75px;
    padding: 5px;
    background-image: var(--bck-container);
    margin-bottom: 15px;
}

.brand {
    width: 300px;
}

.brand,
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.brand img {
    width: 80%;
    height: auto;
}

nav {
    justify-content: flex-end;
    margin-right: 10px;
    width: 1366px;
}

/* FOOTER */
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-image: var(--bck-footer);
    border-top: 2px solid #A4E8C0;
}

.footer-endereco,
.footer-menu,
.footer-contato {
    width: 32%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.footer-endereco h1,
.footer-menu h1,
.footer-contato h1 {
    margin-bottom: 8px;
}

.footer-endereco,
.footer-contato{
    justify-content: center;
}  