@import 'stylemaster.css';

:root {
    --bck-aula1: url("../img/display.jpg");
    --bck-cards: url("../img/bck-cards1.png")
}

h1 {
    color: var(--h1-colors);
}

label {
    padding: 0;
    padding-right: 8px;
    padding-left: 3px;
    color: #8AC0A4;
    /* font-size: 13px; */
}

p{
    font-weight: 500;
    font-size: 20px; 
    text-align: center; 
}

span.results{
    color: #19EA5D;
    font-weight: 700;
    font-size: 70px;
}

main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 1350px;
    padding: 10px;
    background-image: var(--bck-layout);
}

.section-display{
    display: flex;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border: 1px solid white;
    background-image: var(--bck-aula1);
}

.display-space {
    width: 30%;
    height: 480PX;
    margin: 8px;
    background-image: var(--bck-cards);
}

.display-sistema {
    width: 35%;
    height: 480PX;
    border-radius: 10px;
    margin: 8px;
}

.display-sistema p{
    text-align: justify;
    font-weight: 400;
}

.display-calendario {
    width: 20%;
    height: 480PX;
    border-radius: 10px;
    margin: 8px;
}

.calendario-row {
    width: 100%;
    height: 48px;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 1px solid white; 
}

/* SECTION EVENTOS */
.section-eventos,
.section-sobre{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin: 8px;
}

.section-eventos{
    background-image: var(--bck-layout);
}

.section-eventos-titulo,
.section-sobre-titulo{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 8px;
}

.section-eventos-linha,
.section-sobre-linha
{
    display:flex;
    width: 99%;
    height: 345px;
    margin: 8px;
    border-radius: 10px;
}

.section-eventos-colunas,
.section-sobre-colunas{
    display:flex;
    width: 32.5%;
    height: 330px;
    margin: 8px;
    border-radius: 10px;
    background-image: var(--bck-cards);
}

/* CARDS DESAFIO */
.main-card-desafio {
    width: 99%;
    height: 345px;
    padding: inherit;
    border-radius: inherit;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards{
    width: 585px;
    height: 325px;
    padding: inherit;
    border-radius: 10px 10px 10px 10px;
    border-color: aquamarine;
    border: solid 2px;
    background-image: var(--bck-cards);
}