@import 'stylemaster.css';

:root {
    --bck-aula1: url("../img/display.jpg");
    --bck-cards: url("../img/bck-cards1.png");
    --bck-calendario: url("../img/bck-footer.png");
    --bck-card-titulo: url("../img/bck-card-titulo.png");
}

h1 {
    color: var(--h1-colors);
}

p{
    font-weight: 500;
    font-size: 20px; 
    text-align: center; 
}

main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 1350px;
    padding: 10px;
    background-image: var(--bck-layout);
}

main h1 {
    font-size: 2.6rem;
    font-weight: 700;
}

main h2 {
    font-size: 2.0rem;
    font-weight: 600;
}

.section-display{
    display: flex;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border: 1px solid white;
    background-image: var(--bck-aula1);
}

.display-space {
    width: 30%;
    height: 480PX;
    margin: 8px;
    background-image: var(--bck-cards);
}

.display-sistema {
    width: 35%;
    height: 480PX;
    border-radius: 10px;
    margin: 8px;
}

.display-sistema p{
    text-align: justify;
    font-weight: 400;
}

.display-calendario {
    width: 20%;
    height: 480PX;
    border-radius: 10px;
    margin: 8px;
}

.calendario-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 70px;
    display: flex;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    background-image: var(--bck-calendario);
    border-bottom: 1px solid white; 
}

/* SECTION EVENTOS */
.section-eventos,
.section-sobre{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin: 8px;
}

.section-eventos{
    /* background-image: var(--bck-aula1); */
}

.section-eventos-titulo,
.section-sobre-titulo{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 8px;
}

.section-eventos-linha,
.section-sobre-linha
{
    display:flex;
    width: 99%;
    height: 345px;
    margin: 8px;
    margin-bottom: 10PX;
    border-radius: 10px;
}

.section-eventos-colunas,
.section-sobre-colunas{
    display:flex;
    flex-direction: column;
    width: 32.5%;
    height: 320px;
    margin: 20px;
    margin-left: 30PX;
    margin-right: 30PX;
    border-radius: 10px;
    background-image: var(--bck-footer);
    border: 1px solid #8AC0A4;
}

.section-sobre-colunas{
    background-image: var(--bck-layout);
    border: none;  
}

.section-eventos-card-titulo{
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    margin-bottom: 8px;
    border-radius: 10px 10px 0 0; 
    background-image: var(--bck-card-titulo);   
}

.section-eventos-card-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px; 
    margin-bottom: 5px;
}

.section-eventos-card-logo img{
    width: 40%;
    height: auto;
}

.section-eventos-card-info{
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

.section-eventos-card-rodape{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

/* CARDS DESAFIO */
.main-card-desafio {
    width: 99%;
    height: 345px;
    padding: inherit;
    border-radius: inherit;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards{
    width: 585px;
    height: 325px;
    padding: inherit;
    border-radius: 10px 10px 10px 10px;
    border-color: aquamarine;
    border: solid 2px;
    background-image: var(--bck-cards);
}