/* h1 {
    color: var(--h1-colors);
} */

h1.display-sistema-titulo{
    font-size: 3.8rem;
    font-weight: 700;
    color: var(--h1-colors);
    text-align: center;
}

h3{
   font-size: 1.6rem;
   font-weight: 400; 
   padding: 10px;
   border: 1px solid;
   border-color: aquamarine;
   border-radius: 10PX;
   text-align: center;
   margin: 5px;
}

p{
    font-weight: 500;
    font-size: 20px; 
    text-align: center; 
    color: white;
    line-height: 32px;
}


p.display-sistema-descricao{
    width: 58%;
    font-size: 2.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center; 
    line-height: 60px;
}



ol li{
    font-size: 1.8rem;
}

main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    padding: var(--padding-default);
    background-color: var(--md-ref-background-color);
    background-image: var(--md-ref-background-image);
}

/* main h1 {
    font-size: 2.6rem;
    font-weight: 700;
} */

main h2 {
    font-size: 2.0rem;
    font-weight: 600;
}

section.section-display{
    display: flex;
    width: 100%;
    height: 400px;
    border-radius: var(--border-radius);
    background-image: var(--md-ref-foreground-image);
    /* border: 1px solid; */
    /* border-color: var(--border-card-color); */
    margin-bottom: var(--spacing-section);
}

.display-events {
    display: flex;
    width: 40%;
    height: 370px;
    padding: var(--padding-default);
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    margin: var(--padding-default);
}

.display-events-col {
  width: 49%;
  height: auto;
  padding: var(--padding-default);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-events-col img {
  width: 100%;
  height: auto;
  padding: var(--padding-default);
}


.display-sistema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 380PX;
    border-radius: 10px;
    margin: 8px;
    text-align: center;
}

.display-sistema p{
    text-align: center;
    font-weight: 400;
}

.display-calendario {
    width: 28%;
    height: auto;
    border-radius: var(--border-radius);
    margin: 8px;
    border: 1px solid;
    padding: var(--padding-default);
    border-color: var(--border-card-color);
    background-color: var(--md-ref-foreground-color);
    background-image: var(--md-ref-foreground-image);
}

.calendario-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 60px;
    display: flex;
    margin-bottom: 5px;
    border-radius: var(--border-radius);
    padding: 8px; 
    margin-bottom: 8px;
    color: white;   
}

/* SECTION EVENTOS */
.section-eventos,
.section-sobre{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 8px;
}

.section-sobre{
   background-image: var(--bck-black);
}


.section-eventos-titulo,
.section-sobre-titulo{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 8px;
}

.section-eventos-linha,
.section-sobre-linha
{
    display:flex;
    width: 99%;
    height: auto;
    margin: 8px;
    margin-bottom: 10PX;
    border-radius: 10px;
}

.section-sobre-linha3
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 99%;
    height: 50px;
    margin: 8px;
    margin-bottom: 10PX;
}

.section-eventos-colunas,
.section-sobre-colunas{
    display:flex;
    flex-direction: column;
    width: 33%;
    height: 400px;
    margin: 20px;
    margin-left: 30PX;
    margin-right: 30PX;
    border-radius: 10px;
    background-image: var(--bck-black);
    border: 1px solid #8AC0A4;
    margin-bottom: 16px;
    min-width: 350px;
}

.section-sobre-colunas1,
.section-sobre-colunas3{
    width: 25%;
    margin: 10px;
}

.section-sobre-colunas2{
    display: flex;
    flex-direction: column;
    width: 75%;
    /* border: 1px solid white; */
    margin: 5px;
}

.section-sobre-colunas2-section{
    display: flex;
    width: 100%;
    margin: 10px;
}

.section-sobre-colunas2-section-col1{
    display: flex;
    height:auto;
    flex-direction: column;
    width: 25%;
    margin: 5px;
}

.section-sobre-colunas2-section-col2{
    display: flex;
    width: 50%;
    margin: 10px;
}

.section-sobre-colunas2-section-col2 img{
  display: 30%;
  height: auto;
}

.section-sobre-colunas1 h2,
.section-sobre-colunas2 h2,
.section-sobre-colunas3 h2{
    text-align: center;
    margin-bottom: 15PX;
    color: var(--h1-colors);
 }


.section-sobre-colunas1 p,
.section-sobre-colunas3 p{
   font-weight: 300; 
   text-align: justify;
   margin-bottom: 15PX;
}

.section-sobre-colunas3 p span{
    color: var(--h1-colors);
    font-weight: 700;
 }

 /* CARD */

 .section-eventos-card{
     display:flex;
     flex-direction: column;
     gap: 10px;
     width: 33%;
     min-width: 320px;
     height: 380px;
     margin: 20px;
     margin-left: 30PX;
     margin-right: 30PX;
     border-radius: var(--border-radius);
     background-color: var(--md-ref-foreground-color);
     background-image: var(--md-ref-foreground-image);
     border: 1px solid;
     border-color: var(--border-card-color);
     margin-bottom: 16px;
 }

 .section-eventos-card-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px; 
  border-radius: var(--border-radius);
  padding: var(--padding-default);
  margin-bottom: 5px;
  background-color: black;
  background-image: var(--bck-black);
}

.section-eventos-card-logo img{
  width: auto;
  height: 90%;
}

.section-eventos-card-titulo{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 10px 10px 0 0; 
    background-image: var(--bck-card-titulo);
    color: var(--border-color);
}

.card-subhead{
  font-size: 1.8rem;
  font-weight: 400;
  padding: var(--padding-default);
  margin-bottom: calc(var(--padding-default)+ 5px);
  color: white;
}

.section-eventos-card-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    margin-bottom: 8px;
    padding: var(--padding-default);    
}

ol li{
    padding-left: 10px;
    font-size: var(--md-sys-typescale-label-large-size);
    font-weight: var(--md-ref-typeface-weight-title-prominent);
    text-align: left;
}

.section-eventos-card-rodape{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .container{
    width: 100%;
    height: 1200px;
    margin-left:  var(--margin-mediun-expanded);
    margin-right: var(--margin-mediun-expanded);
  }

  main{
    width: 100%;
    height: auto;
  }

  .display-calendario,
  #section-eventos-linha3,
  .section-sobre-colunas2-section-col2{
    display: none;
  }

p.display-sistema-descricao{
    width: 100%;
    text-align: center;
  }

  .section-eventos,
  .section-eventos-linha{
    justify-content: space-around;
  }

  .section-sobre{
   height: 620px;
  }

  .section-sobre-colunas1,
  .section-sobre-colunas2,
  .section-sobre-colunas2-section-col1
  {
    width: 49%;
  }

  .display-events-col img{
    width: auto;
    height: 80%;
  }

  .display-sistema{
    display: none;
  }

  .display-calendario{
    display: block;
    width: 45%;
    font-size: var(--md-sys-typescale-title-small-size);
  }

  .display-events{
    width: 60%;
    display: flex;
  }

  #section-eventos-card3{
    display:none;
  }

  .section-eventos-card{
    width: 50%;
    height: 420px;
    margin-bottom: var(--spacing-section);
  }

  footer{
    width: 100%;
    height: auto;
  }

  footer.footer-endereco{
    width: 48%;
    height: auto;
  }

  footer.footer-contato{
    width: 48%;
    height: auto;
  }
}   

@media only screen and (max-width: 715px) {
   *{
     padding: 0;
     margin: 0; 
     box-sizing: border-box;
   } 

   h1{
    font-size: var(--md-sys-typescale-headline-small-size);   
    line-height: 2.0rem;
   }

   .container{
     width: 100%;
     height: 2380px;
     margin-left:  var(--margin-compact);
     margin-right: var(--margin-compact);
   } 

 main{
    height: 2150px;
    /* padding: var(--padding-default); */
 }

 section.section-display{
  border: 1px solid;
  border-color: var(--border-card-color);
  border-radius: var(--border-radius);
}

 .display-events{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .display-events-col{
    width: 100%;
    height: 500px;
    border: none;
  }

  .display-events img{
    width: 65%;
    height: auto;
  }

  section.section-display{
    width: 100%;
    flex-direction: column;
    height: 1150px;
    align-content: center;
    margin-bottom: var(--padding-default);
    padding: var(--padding-default);
  }

  h1.display-sistema-titulo{
     width: 100%;
     text-align: center;
     font-size: 3.7rem;
     font-weight: 400;
     word-spacing: -0.25rem;
  }

  .section-display img{
    width: 60%;
    height: auto;
    align-content: center;
    justify-content: center;
  }

  .display-sistema{
    display: none;
  }

  .display-sistema-descricao{
    width: 100%;
    height: auto;
  }

  p.display-sistema-descricao{
    width: 100%;
    font-size: 2.8rem;  
    font-weight: 400;
    line-height: 2.0rem;
    text-align: center;
  }

  .display-calendario{
    width: 98%;
    display: flex;
    flex-direction: column;
    border: none;
  }

  .calendario-row{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-eventos{
    margin:0;
    width: 98%;
    height: 1000px;
    flex-direction: column;
  }

  .section-eventos-linha{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  #section-eventos-card3{
    display: none;
  }

  .section-eventos-card{
    width: 100%;
    height: 420px;
    margin-bottom: var(--spacing-section);
  }


  .section-eventos-card-titulo h2{
    font-size: var(--md-sys-typescale-title-small-size);
    font-weight: var(--md-sys-typescale-title-weight);
  }

  .section-eventos-card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: var(--padding-default);
    margin-bottom: 8px;
  }

  .section-sobre{
    display: none;
  }

  footer{
    width: 100%;
    height: 330px;
    flex-direction: column-reverse;
    padding: var(--padding-default);
    margin-bottom: var(--padding-default);
  }

  .footer-endereco,
  .footer-contato{
    width: 100%;
    height: auto;
  }

  .footer-menu{
    display: none;
  }

}