@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --md-ref-secondary-color: #252c33;
    --md-ref-background-color: #25232a;
    --md-ref-foreground-color: #1c1b1f;
    --text-colors: #18F65F;
    --menu-colors: #18F65F;
    --h1-colors: #A4E8C0;
    --h2-colors: white;
    --card-border-colors: #18F65F;
    --card-colors: #3D4752;
    --section-colors: #404040;
    --container-colors: 404040;
    --border-color: #18F65F;
    --border-card-color:  #5C5861;

    /* background Images */
    --md-ref-secondary-image: url("../img/secondary-color.png");
    --md-ref-background-image: url("../img/background-color.png");
    --md-ref-foreground-image: url("../img/foreground-color.png");

    --bck-layout: url("../img/bck-layout.png");
    --bck-container: url("../img/bckheader.png");
    --bck-buttons: url("../img/bck-buttons.png");
    --bck-footer: url("../img/bck-footer.png");
    --bck-black: url("../img/bck_black.png");
    --bck-gray: url("../img/bck-gray.png");

    /*Buttons*/
    --buttons-colors: #8AC0A4;
    --buttons-text-colors: #1E2833;

    /* spaccing */
    --spacing-section: 16px;
    --padding-default: 10px;
    --border-radius:   15px;
    --margin-compact:  16px;
    --margin-mediun-expanded: 24px;
    /* espaco entre linha tamanhop da font x 1.5 */
   
    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;
    --md-ref-typeface-weight-regular: 400;
    --md-ref-typeface-weight-title-small: 500;
    --md-ref-typeface-weight-title-prominent: 700;
    --md-sys-typescale-display-large-font: 57pt;
    --md-sys-typescale-headline-large-size: 3.0rem;
    --md-sys-typescale-title-large-size: 2.2rem;
    --md-sys-typescale-label-large-size: 1.6rem;
    --md-sys-typescale-headline-mediun-size: 2.7rem;
    --md-sys-typescale-title-mediun-size: 1.9rem;
    --md-sys-typescale-headline-small-size: 2.4rem;
    --md-sys-typescale-title-small-size: 1.6rem;
    --md-sys-typescale-label-small-size: 1.6rem;
    --md-sys-typescale-headline-size: 1.8rem;
    font-size: 62.5%;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a#linkbutton{
    color: var(buttons-text-colors);
}

a:link,
a:visited,
a:hover {
    color: var(--text-colors);
}

h1 {
    font-size: var(--md-sys-typescale-headline-large-size);  
    font-weight: 400;
    line-height: 2.0rem;
    color: var(--h1-colors);
}

h2 {
    color: var(--h2-colors);
}

button,
input {
    display: inline-block;
    width: 250px;
    height: 45px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2.5px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    border-radius: 0.50rem;
    color: var(--buttons-text-colors);
    background-color: var(--buttons-colors);
    background-image: var(--bck-buttons);
    border-color: var(--buttons-colors);
    margin: var(--padding-default);
}

.btn-outline{
    background-color: var(--md-ref-foreground-color);
    background-image: var(--md-ref-foreground-image);
    color: var(--buttons-colors);
}

#btn-outline-disabled{
    border-color: var(--border-card-color);
    color: var(--border-card-color);   
}

input {
    background-image: var(--bck-layout);
    cursor: default;
    margin-left: 10px;
    color: var(--buttons-colors);
    font-size: 2.2rem;

}

p {
    color: white;
}

select{
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    color: var(--buttons-colors);
    font-size: 2.2rem;
    font-weight: 700;
    color:#18F65F;
    background-color: black;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid white;

}

body {
    font-family: var(--font-roboto);
    color: white;
    background-color: #4d4d4d;
    background-image: var(--bck-black);
}

.container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1360px;
    min-width: 350px;
}

/* HEADER */
header {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: var(--md-ref-secondary-color);
    background-image: var(--md-ref-secondary-image);
    border-bottom: 2px solid;
    border-color: var(--buttons-colors);
}

.brand {
    width: 300px;
    padding: var(--padding-default);
    display: flex;
    align-items: center;
    justify-content: start;
    height: inherit;

}

.brand img {
    width: 70%;
    height: auto;
    min-width: 220px;
}

/* FOOTER */
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--md-ref-secondary-color);
    background-image: var(--md-ref-secondary-image);
    border-top: 2px solid;
    border-color: #A4E8C0;
    padding: var(--padding-default);
}

.footer-endereco,
.footer-menu,
.footer-contato {
    width: 49%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.footer-endereco h1,
.footer-menu h1,
.footer-contato h1 {
    font-size: var(--md-sys-typescale-title-large-size);
    margin-bottom: 8px;
}

.footer-endereco,
.footer-contato{
    justify-content: center;
} 